<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="headline_l">Leistungen</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="small">Mein Name ist Roman Fleischanderl und ich habe mich als Freelancer auf den Bereich Webentwicklung und
                    E-Commerce spezialisiert. Vom ersten Entwurf des Layouts, bis zur Entwicklung und Optimierung,
                    gestalte ich benutzerfreunliche Websites auf modernen Standards.</p>
            </div>
        </div>
        <div class="container service_container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="service_icon" src="img/icons/icon_concept.svg" alt="Konzept Icon" width="70px"
                         height="70px">
                    <h4>
                        Konzept & Strategie
                    </h4>
                    <p class="small">Eine detailierte Planung steht am Anfang eines jeden Webprojekts.
                        Auf Basis der individuellen Umsetzungswünsche wird eine Strategie und der Projektplan
                        festgelegt.
                        In der Konzeptionsphase wird das Fundament für eine gelungene Umsetzung gebaut.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="service_icon" src="img/icons/icon_design.svg" alt="Konzept Icon" width="70px"
                         height="70px">
                    <h4>
                        Layout & Screendesign
                    </h4>
                    <p class="small">Steht das Konzept erstmal, fertige ich erste Layoutentwürfe.
                        Beim finalen Screendesign kann sich danach ein
                        Gesamteindruck der Website verschafft werden.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="service_icon" src="img/icons/icon_development.svg" alt="Konzept Icon" width="70px"
                         height="70px">
                    <h4>
                        Webentwicklung
                    </h4>
                    <p class="small">Nach der Gestaltung steht der Entwicklung nichts mehr im Weg.
                        Mit HTML, CSS, PHP (Laravel), JavaScript (JQuery)
                        und/oder einem Content Managmant System (bevorzugt Wordpress) wird die Website gebaut und
                        optimiert.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center tool_headline">
                <h3>Tools</h3>
            </div>
            <div class="col-lg-12 text-center">
                <div class="tool_container">
                    <a class="tool_link" href="https://www.sketchapp.com/" target="_blank">Sketch</a>
                    <a class="tool_link" href="https://www.adobe.com/at/products/photoshop.html"
                       target="_blank">Photoshop</a>
                    <a class="tool_link" href="https://www.adobe.com/at/products/illustrator.html" target="_blank">Illustrator</a>
                    <a class="tool_link" href="https://laravel.com/"
                       target="_blank">Laravel</a>
                    <a class="tool_link" href="https://de.wordpress.com/"
                       target="_blank">Wordpress</a>
                    <a class="tool_link" href="https://de.wordpress.org/plugins/woocommerce/"
                       target="_blank">Woocommerce</a>
                </div>
            </div>
        </div>
    </div>
</section>