<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Leistungen</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="img/icons/icon_concept.svg" alt="Konzept Icon" width="50px" height="50px">
                <h4>
                    Konzept & Strategie
                </h4>
                <p></p>
            </div>
            <div class="col-md-4 text-center">
                <img src="img/icons/icon_design.svg" alt="Konzept Icon" width="50px" height="50px">
                <h4>
                    Layout & Screendesign
                </h4>

            </div>
            <div class="col-md-4 text-center">
                <img src="img/icons/icon_development.svg" alt="Konzept Icon" width="50px" height="50px">
                <h4>
                    Webentwicklung
                </h4>
            </div>
        </div>
    </div>
</section>