<section id="timeline" class="timeline">
    <ul>
        <li>
            <div>
                <span>seit 2017</span><h5>Freelancer</h5><span>Webdesign und -Entwicklung</span>
            </div>
        </li>
        <li>
            <div>
                <span>2014 - 2016</span><h5>SAE Wien</h5><span>Diplom in Webdesign und -Entwicklung</span>
            </div>
        </li>
        <li>
            <div>
                <span>2007 - 2012</span><h5>Höhere Lehranstalt für wirtschaftliche Berufe</h5><span>Ausbildungsschwerpunkt: Kommunikations- und Mediendesign</span>
            </div>
        </li>

    </ul>
</section>